html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family:  "Arial", sans-serif;
  background-color: #1c3146;
  font-size: 16px;
}

::selection {
  background: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}


.form__item {
  margin-bottom: 20px;
  margin-right: 20px;
}

.form__item:last-child {
  margin-right: 0;
}

.currency-type {
  cursor: pointer;
}